.box {
    width: 100vw;
    height: 77vh;
    background-color: rgb(243, 243, 243);
  }
  

  /* Payment phases */
  
  .phases-box {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    background-color: rgb(243, 243, 243);
  }
  
  .state-box {
    margin-left: 4.2em;
    margin-right: 4.2em;
    text-align: -webkit-center;
  }
  
  .state-phase-check {
    color: white;
    background-color: rgb(72, 196, 35);
    border: rgb(72, 196, 35) solid 2px;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .state-phase-pay {
    color: white;
    background-color:  rgb(31, 145, 221);
    border-radius: 50%;
    border: rgb(31, 145, 221) solid 2px;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  

  /* FORM */
  
  form {
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
  }

  .confirmation-box {
    background-color: white;
    text-align: -webkit-center;
    padding: 1em;
  }
  
  .card-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: solid rgb(233, 233, 233) 1px;
    border-radius: 4px;
    width: 50%;
    padding: 1em;
  }

  #card-icon {
    color: rgb(209, 46, 46);
  }

  #cards-img {
    width: 7vw;
    align-self: center;
  }

  .buttons-box {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1em;;
  }

  .button-form-back {
    color: rgb(31, 145, 221);
    background-color: white;
    border: rgb(31, 145, 221) 2px solid
  }

  
  // Responsive

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .phases-box {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .payment-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    box-shadow: none;
    padding: 2em;
    width: 100%;
  }
 
  .card-box {
    width: 100%;
    border: none;
    padding: 0;
  }

  .confirmation-box{
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .phases-box {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .payment-box {
    width: 30vw;
    padding: 2em 10em 2em 10em;
    margin-bottom: 5%;
    box-shadow: none;
    padding: 2em;
    width: 100%;
  }
}